@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    }
  }

/* CUSTOM SCROLLBAR*/
::-webkit-scrollbar {
  @apply w-[10px] h-[10px];
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-button {
  @apply hidden;
}

::-webkit-scrollbar-thumb {
  @apply bg-[#121212] rounded-full hover:bg-[#0e0d0d] transition duration-300;
}

select:focus {
  outline: none !important;
}